.inputCreditNum{
   
    top: 100px;
    text-align: center;
    align-items: center;

}

.inputCreditNum_h1{
    font-weight:bold;
}
.inputCreditNum input {
    text-align: center;
    left: 40%;
    margin-right: 15px;
    padding: 8px 10px;
}
