.App {
  text-align: center;
}

.mcdonalds_img {
  z-index: 100; 
  position: absolute;
  top:0px;
  left: 0px;
  width: 8%;
}

.cart_img {
  z-index: 100; 
  position: absolute;
  top:0px;
  right: 0px;
  width: 6%;
}